{% extends "base.html" %}
{% load navigation_tags static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- {% include "includes/header-index.html" %} -->

    <div class="section">
        <h1 class="title">
            Designs
        </h1>

        <ul class="gallery-list design-list"></ul>
    </div>

    {% block extra_js %}
        <script>
            var copyImg = "{% static 'img/copy.png' %}"
            var checkImg = "{% static 'img/check.png' %}"

            var design_list = document.querySelector(".design-list");

            // If scrolled to bottom, load the next 20 posts
            window.addEventListener('scroll', scrollLoad);

            function scrollLoad() {
                let designListPos = design_list.getBoundingClientRect().bottom;

                if (designListPos < (window.innerHeight - 200)) {
                    setTimeout(loadDesign, 300);
                }
            }

            // Start with the first design
            var counter = 0;

            // Load 12 designs at a time
            // Load one more to check if there is no more data
            var quantity = 13;

            // Load next set of posts
            async function loadDesign() {

                // Set start and end post numbers, and update counter
                let start = counter;
                let end = start + quantity;
                counter = end - 1;

                // Get new posts and add posts
                let response = await fetch(`/api/gtdes/${start}/${end}`)
                let data = await response.json();

                if (data.length == quantity) {
                    data = data.slice(0, -1);
                }
                else {
                    window.removeEventListener('scroll', scrollLoad);
                }

                data.forEach((design) => {
                    add_design(design).then(async (image) => {
                        await load_image(image.image, image.design);
                    });
                });
            };

            function add_design(contents) {

                return new Promise((resolve) => {

                    let format = "SG0000";
                    let id = format.substring(0, format.length - contents.id.toString().length) + contents.id;
                
                    // Create new design
                    let design = document.createElement('li');
                    design.className = 'gallery-item design';
                    design.id = id;
                    design.innerHTML = `
                        <div class="image-container">
                            <div class="gallery-image fadeimg"></div>
                        </div>

                        <div class="gallery-text design-id upper">
                            <span>${id}</span>
                            <span class="copy-icon">
                                <span></span>
                                <img src="{% static 'img/copy.png' %}">
                            </span>
                        </div>
                    `

                    // Copy Design ID
                    design.addEventListener('click', (event) => {
                        if (copied == false) {
                            navigator.clipboard.writeText(id);
                            copied = true;
                            design.querySelector('.copy-icon span').innerHTML = "copied";
                            design.querySelector('.copy-icon img').src = checkImg;

                            setTimeout(() => {
                            design.querySelector('.copy-icon span').innerHTML = "";
                            design.querySelector('.copy-icon img').src = copyImg;
                            copied = false;
                            }, 1500);
                        }
                    });

                    // Add post to DOM
                    document.querySelector('.design-list').append(design);

                    resolve({
                        'image': contents.image,
                        'design': document.querySelector(`#${id} > .image-container > .gallery-image`),
                    });
                });
            }
        </script>
    {% endblock %}
{% endblock content %}