{% extends "base.html" %}
{% load navigation_tags wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <!-- {% include "includes/header-index.html" %} -->

    <div class="section">
        <h1 class="title">
            Products
        </h1>

        <ul class="gallery-list product-list"></ul>

        <div class="load-container">
            <div class="load-button">
                <div class="load-text">{{ "See more" | upper }}</div>
                <div class="load-line hide load-line-hover"></div>
            </div>
        </div>

        <ul class="gallery-list type-list">
            {% get_product_types %}
        </ul>
    </div>

    <!-- JAVASCRIPT -->

    {% block extra_js %}
        <script>
            // Start with the first product
            var counter = 0;

            // Load 12 products at a time
            // Load one more to check if there is no more data
            var quantity = window.innerWidth <= 758 ? 9 : 13;

            // Load next set of posts
            async function loadProduct() {

                // Set start and end post numbers, and update counter
                let start = counter;
                let end = start + quantity;
                counter = end - 1;

                // Get new posts and add posts
                let response = await fetch(`/api/gtprods/${start}/${end}/999`)
                let data = await response.json();

                if (data.length == quantity) {
                    data = data.slice(0, -1);
                    document.querySelector('.load-button').style.display = "block";
                }
                else {
                    document.querySelector('.load-button').style.display = "none";
                }

                data.forEach((product) => {
                    add_product(product).then((thumbnail) => {
                        if (thumbnail.image !== null) {
                            load_image(thumbnail.image, thumbnail.product);
                        }
                    });
                });

                document.querySelector('.load-text').style.transform = "translateY(0)";

                let loadLine = document.querySelector('.load-line');
                loadLine.style.animationPlayState = "paused";

                loadLine.classList.add("hide");
                loadLine.classList.add("load-line-hover");

                loadLine.style.animation = "none";
                loadLine.offsetHeight;
                loadLine.style.animation = null;
                
            };

            function add_product(contents) {

                return new Promise((resolve) => {

                    let id = `pd${contents.type}${contents.id}`;
                
                    // Create new product
                    let product = document.createElement('li');
                    product.className = 'gallery-item product';
                    product.id = id;
                    product.innerHTML = `
                        <span class="line-bottom"></span>
                        <span class="line-right"></span>
                        
                        <div class="image-container">
                            <div class="gallery-image fadeimg"></div>
                        </div>

                        <div class="gallery-text product-name upper">
                            ${contents.name}
                        </div>
                        <div class="gallery-text product-price">
                            ${contents.price == null ? 'Price not set' : '$' + contents.price}
                        </div>
                    `

                    // Add post to DOM
                    document.querySelector('.product-list').append(product);

                    resolve({
                        'image': contents.primary_thumbnail,
                        'product': document.querySelector(`#${id} > .image-container > .gallery-image`),
                    });
                });
            }
        </script>
    {% endblock %}
{% endblock content %}