{% extends "base.html" %}
{% load navigation_tags wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}{% endblock %}

{% block content %}

    {% image page.banner original as banner_img %}
    <div class="container content margin-bottom">
        <div class="slideshow fadeimg" data-img= {{ banner_img.image.id }}>
        </div>

        <div class="intro-section margin-top padding-top padding-bottom">
            <div class="intro">
                <div class="intro__information margin-right">
                    <div class="intro__title">{{ page.introheader }}</div>
                    <div class="intro__subheader">{{ page.subheader }}</div>
                    <span></span>
    
                    <div class="intro__description">{{ page.description | richtext }}</div>
                    <div class="order-button">
                        <a href="https://smccd-czqfp.formstack.com/forms/gap_form_22" target="_blank">Order</a>
                    </div>
                </div>
                <div class="intro__images margin-left">
                    <div class="row">
                        <div class="col">
                            {% image page.square_image_left original as squareleft %}
                            <div class="intro-image squareleft fadeimg" data-img = {{ squareleft.image.id }}></div>
                        </div>
                        <div class="col margin-left">
                            {% image page.square_image_right original as squareright %}
                            <div class="intro-image squareright fadeimg" data-img= {{ squareright.image.id }}></div>
                        </div>
                    </div>
                    <div class="row margin-top">
                        {% image page.landscape_image original as landscape %}
                        <div class="intro-image landscape fadeimg" data-img={{ landscape.image.id }}></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="product-section margin-top">
            <div class="title">
                {{ "Products" | upper }}
            </div>
            <ul class="gallery-list type-list">
                {% get_product_types %}
            </ul>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}
    <script>
        document.querySelectorAll('.fadeimg').forEach((image) => {
            load_image(image.dataset.img, image);
        });
    </script>
{% endblock %}
