{% load wagtailcore_tags %}

<footer class="container footer line-box margin-top">
    <div class="row">
        <div class="col col-sm">
            <span class="line-right"></span>
            <div class="line-data text-center">
                {{ address.name }} <br>
                {{ address.apartment }}, {{ address.street1 }}, {{ address.street2 }} <br>
                {{ address.city }}, {{ address.zipcode }}
            </div>
        </div>
        <div class="col col-sm">
            <div class="row">
                <div class="line-data text-center">
                    {{ email.email }}
                </div>
            </div>
            <div class="row">
                <span class="line-top"></span>
                <div class="line-data text-center">
                    {{ phone.phone }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="line-top"></span>
        <div class="line-data text-center">
            {{ copyright.text | upper }}
        </div>
    </div>
</footer>